html.dark html,
html.dark body,
html.dark .river {
    background-color: #121521 !important;
}
html.dark .fmBd{
    background: rgba(3, 26, 26, 0.95) !important;
}
html.dark .iconItem {
    color: white !important;
}

html.dark .navItem {
    color: #777a88 !important;
}

html.dark .navActive {
    color: white !important;
}

html.dark .topBar {
    background-color: #1e2029 !important;
}
html.dark .tb2 {
    background-color: #191e2d !important;
}
html.dark .mobile-menu {
    background-color: rgba(36, 42, 61, 0.97) !important;
}

html.dark .mlistItem {
    border-bottom: solid 1px rgba(0, 0, 0, 0.5) !important;
}

html.dark header {
    background-color: #191e2d !important;
}

html.dark .whiter img {
    opacity: 0.03 !important;
}

html.dark .borderBuild{
    background-color: #121521 !important;
}

html.dark .getBackground{
    background: linear-gradient(to bottom right, #1d2333,#262d41 ) !important;
}

html.dark .getBBg{
    background: linear-gradient(to bottom right, #0b0d14,#0a0c13 ) !important;
}


html.dark footer {
    background-color: #191e2d;
    background-image: none;
    background-size: initial;
    background-repeat: initial;
    background-position: initial;
}

html.dark .darkBorder {
    background-image: linear-gradient(0, #191e24, #191e24 50%, transparent 50%);
   background-image: -webkit-linear-gradient(90deg, #191e24, #191e24 50%, transparent 50%);
}

html.dark .flashTagsMobile {
    background-color: #191e2d !important;
}
html.dark .mfActive span {
    color: white !important;
  
}
html.dark .mfActive i {
    color: white !important;
  
}
html.dark .flashTop {
    border-color: #303340 !important;
}

html.dark .flashTop .topItem {
    color: white !important;
}

html.dark .itemLine {
    border-color: rgba(197, 194, 194, 0.1) !important
}

html.dark .bDot {
    background-color: #303340 !important;
}

html.dark .sDot {
    background-color: #547bdd !important;
}

html.dark .fmcon {
    color:#838b9a !important
}
/* 
html.dark .fmconwhale {
    color: rgba(197, 194, 194, 0.6) !important
} */

html.dark .tags {
    color: rgb(122, 121, 121);
    border: solid 1px #333741 !important;
}

html.dark .newsTitle {
    color: white !important;
}

html.dark .newsMsg {
    /* color: rgba(197, 194, 194, 0.4) !important */
       color:#838b9a !important
}

html.dark .newsItem {
    border-color: #303340 !important;
}

html.dark .deepsearchBuild {
    border-color: #678be7 !important;
}

html.dark .doSearch {
    background-color: #678be7 !important;
}

html.dark .btool .toFrom {
    color: #678be7 !important;
}

html.dark .mobile-menu {
    background-color: rgba(36, 42, 61, 0.97);
}

html.dark .flashBox,
html.dark .flashTags,
html.dark .hotNum,
html.dark .hotNumItem,
html.dark .hwl {
    border-color: #303340 !important;
}

html.dark .toolsBar {
    background-color: #1d2336 !important;
}

html.dark .toolsBar .tiActive {
    background-color: #40465a;
    color: white !important;
}

html.dark .toX {
    color: #678be7 !important;
}


html.dark .getMore {
    background-color: #303340 !important;
    color: rgba(255, 255, 255, 0.5) !important;
}

html.dark .refreshBtn {
    color: rgba(255, 255, 255, 0.864) !important;
}

html.dark .flashTagsMobile {
    box-shadow: none !important;
}

html.dark .sedItem {
    color: white !important;
}

html.dark .ndTitle {
    color: white !important;
}

html.dark .ndMsg {
    color: rgba(255, 255, 255, 0.864) !important;
}

html.dark .plight {
    display: none;
}

html.dark .pldark {
    display: inline !important;
}

html.dark .tl {
    display: none;
}

html.dark .maintitle {
    color: white !important;
}

html.dark .waction,
html.dark .btable,
html.dark .whaleMsg,
html.dark .lineItem {
    border-color: #20273a !important;
}

html.dark .lineItem {
    background-color: #0c1117;
}

html.dark .whale .el-table {
    color: white !important;
    font-weight: bold;
}

html.dark .hot {
    border-color: #20273a !important;
}



html.dark .share {
    color: #3a4055 !important;
}

html.dark .copy {
    color: #3a4055 !important;
}

html.dark .flIcon {
    color: #656974 !important;
}
html.dark .flIconText {
    color: #656974 !important;
}

html.dark .flIconText span{
    color: #656974 !important;
}


html.dark .cgtBtn {
    color: #656974 !important;
}

html.dark .dsInput {
   
}

html.dark .mfooter {
    background-color: #191e2d;
}
html.dark .backgroundRound {
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.211) 0%,
        rgba(255, 255, 255, 0.1) 40%,
        rgba(255, 255, 255, 0.04) 70%,
        rgba(0, 0, 0, 0) 100%
    ) !important;
}

html.dark .ftitle{
    color: white !important;
}

html.dark .flashTags {
    background: #1c2132 !important;
}

html.dark .flashTags .menus {
    background: #283042 !important;
}

html.dark .flashTags .flashTagsItem {
    color: rgb(233, 230, 230) !important;
}

html.dark .flashTagsItem::after {
  
    color: white;
   
}


html.dark .refreshBtnPc {
    color: rgb(220, 217, 217) !important;
}

html.dark .onipPc {
    color: rgb(220, 217, 217) !important;
}
html.dark .onipPc .hasBg {
    background: rgb(220, 217, 217) !important;
    color: #191e2d !important;
}
html.dark .onipPc .inChosed {
    border: solid 1px rgb(220, 217, 217) !important;
}
html.dark .mhTitle {
    background: linear-gradient(to right, #283042 60%, transparent);
    color: white;
}

html.dark .times {
    color: rgb(220, 217, 217) !important;
}

html.dark .searchBox {
    background: #2c3548 !important;
    border: none !important;
}

html.dark .ipMsg {
    color: #478aed !important;
}



html.dark .ipMsgCon {
    color: #478aed !important;
}


html.dark .audio-player {}

html.dark .progress-container {
    background: rgba(0, 0, 0, 0.5);
}

html.dark .progress {
    background: rgba(130, 130, 130, 0.7);
}

html.dark .time {
    color: #85878b !important;
}
.ndD{
    display: none;
}
html.dark .ndL {
    display: none;
}
html.dark .ndD {
    display: block;
}
html.dark .loadingMore{
   color: rgba(255,255,255,0.2);
}

html.dark .oipBtn{
    background-color: #262727;
    color: #3f89df; 
}


html.dark .yingzi{
    background: linear-gradient(to top,#56575e, transparent);
}