@font-face {
  font-family: "iconfont"; /* Project id 4886799 */
  src: url('iconfont.woff2?t=1747130888257') format('woff2'),
       url('iconfont.woff?t=1747130888257') format('woff'),
       url('iconfont.ttf?t=1747130888257') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baifenhao:before {
  content: "\e76f";
}

.icon-qihuozijinfeishuai:before {
  content: "\e647";
}

.icon-sousuo1:before {
  content: "\e6f6";
}

.icon-a-rongqi2021x:before {
  content: "\e67a";
}

.icon-sousuo:before {
  content: "\e63b";
}

.icon-sousuo-:before {
  content: "\e668";
}

.icon-wenzhang3:before {
  content: "\e6f7";
}

.icon-exe-article-primary:before {
  content: "\e974";
}

.icon-wenzhang:before {
  content: "\e702";
}

.icon-wenzhangguanli:before {
  content: "\e60b";
}

.icon-wenzhang1:before {
  content: "\fc34";
}

.icon-wenzhang2:before {
  content: "\ed21";
}

.icon-jujiao:before {
  content: "\e62f";
}

.icon-taiyang:before {
  content: "\e62e";
}

.icon-yejianmoshi:before {
  content: "\e609";
}

.icon-yueliangxingxing:before {
  content: "\e786";
}

.icon-huanqiu:before {
  content: "\e60c";
}

.icon-shandian:before {
  content: "\e80f";
}

.icon-jujing:before {
  content: "\e6c2";
}

.icon-bagua:before {
  content: "\e608";
}

